# Ignore configuration and secrets files
config/secrets.py

# Ignore all .env files
.venv

# Ignore downloaded documents
data/downloads/*

# Ignore logs
data/logs/*

# Ignore db_backups
data/db_backups/*

# Ignore virtual environment
venv/

# Ignore repetitive files
data/input/*

# Ignore db and backups
data/db/*

# Ignore logs
data/logs/*